/* styles/app.tcss */

#main-grid {
    layout: grid;
    grid-size: 2 3;
    grid-columns: 1fr 1fr;
    grid-rows: 1fr 1fr 2fr;
    grid-gutter: 1;
    height: 100%;
}

.panel {
    border: solid $primary;
    padding: 0 1;
    height: 100%;
}

#log-table {
    column-span: 2;
}

DataTable {
    height: 100%;
}
